.box {
    height: auto;
    width: 470px;
    max-height: 370px;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: center; */
    padding: 15px 15px 22px 15px;
    border-radius: 18px;
    position: relative;
    margin: 10px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55.36px;
    position: relative;
}

.nameAndDate {
    position: absolute;
    left: 50px;
}

.userProfilePic {
    width: 42px;
    border-radius: 50%;
    border: 2px rgb(168, 167, 167) solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

.userProfilePic:hover {
    border: 3.9px rgb(31, 81, 243) solid
}

.username {
    color: blanchedalmond;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.date {
    color: rgb(107, 184, 207);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 15px;
}

.websiteLogo {
    position: absolute;
    width: 42px;
    top: 15px;
    right: 20px;
    opacity: 0.4;
}

.status {
    color: rgb(247, 240, 230);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.line {
    border: none;
    border-top: 0.5px solid white;
    width: 100%;
    margin: 13px 0 0 0;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    
}

.actionIcon {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.fa-retweet:hover {
    color:royalblue;
}

.fa-heart:hover {
    color: red;
}

.fa-comment:hover {
    color: rgb(34, 194, 34);
}
.retweets {
    margin-left: 5px;
    font-size: 11px;
}

.comments {
    margin-left: 5px;
    font-size: 11px;
}
.likes {
    margin-left: 5px;
    font-size: 11px;
}


