.mainpage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 8, 10);
    display: flex;
    justify-content: space-between;
    padding: 1% 10% 0;
}

.sidebar {
    align-self: flex-start;
    position: sticky;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.rightSidebar {
    align-self: flex-start;
    position: sticky;
    top: 20px;
    width: 100%;
}

h1 {
    color: white;
}
